<h1>Patients#new</h1>
<%= form_for @patient do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :gender %>
<%= f.radio_button("gender", "M")%>
<%= f.radio_button("gender", "F")%>
<%= f.label :age %>
<%= f.text_field :age %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :phone %>
<%= f.telephone_field :phone %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.button "Signup"%>
<% end %>
<h1>Doctor Signup</h1>
<h2>All fields are required. </h2>
<%= form_for @doctor do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>

<%= f.label :gender %>
<br>
<%= f.label :gender, 'M', :value => 'M' , :class => "small-label" %>
<%= f.radio_button :gender, 'M' %>
<%= f.label :gender, 'F', :value => 'F' , :class => "small-label" %>
<%= f.radio_button :gender, 'F' %>
<br>

<%= f.label :specialty %>
<br>
<%= f.text_field :specialty %>
<br>

<%= f.label :practice_name %>
<br>
<%= f.text_field :practice_name %>
<br>

<%= f.label :practice_location %>
<br>
<%= f.text_field :practice_location %>
<br>

<%= f.label :phone %>
<br>
<%= f.telephone_field :phone %>
<br>

<%= f.label :email %>
<br>
<%= f.email_field :email %>
<br>

<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>

<%= f.button "Signup"%>
<% end %>
