<% if @patient == current_patient %>
  <h1>Your Details</h1>
<% else %>
  <h1>Patient View</h1>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <td><%= @patient.name %> </td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @patient.gender %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @patient.age %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= @patient.address %></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%= @patient.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td> <%= @patient.email %></td>
  </tr>
</table>
<div class="margin-top-div">
<% if @patient.appointments %>
  <%= link_to "View appointments", patient_appointments_path(@patient), :class => "show-page-button" %>
<% end %>
</div>
<% if @patient == @current_patient %>
<div class="margin-top-div">
<%= link_to "Edit Patient Details", edit_patient_path, :class => "show-page-button" %>
</div>
<div class="margin-top-div">
<%= button_to "Delete your account", patient_path(@patient), method: :delete, data: { confirm: 'Are you sure you want to delete your account?'}, :class => "show-page-button" %>
</div>
<% end %>
<% if @patient == @current_patient && @patient.appointments.any? %>
<h2>Appointments In The Next 7 Days</h2>
<hr>
<% @appointments.each do |a| %>
<table>
  <tr>
    <th>Date</th>
    <td><%= a.date %></td>
  </tr>
  <tr>
    <th>Time</th>
    <td><%= a.time %></td>
  </tr>
  <tr>
    <th>Doctor</th>
    <td><%= link_to a.doctor.name, doctor_path(a.doctor) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= a.description %></td>
  </tr>
  </table>
  <div class="small-margin-top-div">
  <%=link_to "View Full Details", patient_appointment_path(@patient, a), :class => "show-page-button" %>
  </div>
  <hr>
  <% end %>
  <% end %>
  <div class='space-bottom-div'>
  </div>
