<% if @patient == current_patient %>
  <h1>Your Details</h1>
<% else %>
  <h1>Patient View</h1>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <td><%= @patient.name %> </td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @patient.gender %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @patient.age %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= @patient.address %></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%= @patient.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td> <%= @patient.email %></td>
  </tr>
</table>
<div class="margin-top-div">
<% if @patient.appointments %>
  <%= link_to "View appointments", appointments_path, :class => "show-page-button" %>
<% end %>
</div>
<% if @patient == current_patient %>
<div class="margin-top-div">
<%= link_to "Edit patient", edit_patient_path, :class => "show-page-button" %>
</div>
<div class="margin-top-div">
<%= button_to "Delete your account", patient_path(@patient), method: :delete, data: { confirm: 'Are you sure you want to delete your account?'}, :class => "show-page-button" %>
</div>
<% end %>
