<h1>Patient View</h1>
<h5> <%= @patient.name %> </h5>
<br>
<h5> <%= @patient.gender %> </h5>
<br>
<h5> <%= @patient.age %> </h5>
<br>
<h5> <%= @patient.address %></h5>
<br>
<h5> <%= @patient.phone %> </h5>
<br>
<h5> <%= @patient.email %> </h5>
<br>
<%= link_to "Edit patient", edit_patient_path %>
