<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<% if doctor.errors[:name].any? %>
<p><%= doctor.errors.full_messages_for(:name)[0] %>.</p>
<br>
<% end %>

<%= f.label :gender, "Gender (Optional)" %>
<br>
<%= f.label :gender, 'M', :value => 'M' , :class => "small-label" %>
<%= f.radio_button :gender, 'M' %>
<%= f.label :gender, 'F', :value => 'F' , :class => "small-label" %>
<%= f.radio_button :gender, 'F' %>
<br>
<% if doctor.errors[:gender].any? %>
<p><%= doctor.errors.full_messages_for(:gender)[0] %>.</p>
<br>
<% end %>

<%= f.label :specialty, "Specialty (Optional)"%>
<br>
<%= f.text_field :specialty %>
<br>
<% if doctor.errors[:specialty].any? %>
<p><%= doctor.errors.full_messages_for(:specialty)[0] %>.</p>
<br>
<% end %>

<%= f.label :practice_name, "Practice Name (Optional)" %>
<br>
<%= f.text_field :practice_name %>
<br>
<% if doctor.errors[:practice_name].any? %>
<p><%= doctor.errors.full_messages_for(:practice_name)[0] %>.</p>
<br>
<% end %>

<%= f.label :practice_location, "Practice Address (Optional)" %>
<br>
<%= f.text_field :practice_location %>
<br>
<% if doctor.errors[:practice_location].any? %>
<p><%= doctor.errors.full_messages_for(:practice_location)[0] %>.</p>
<br>
<% end %>

<%= f.label :phone, "Phone (Optional)" %>
<br>
<%= f.telephone_field :phone %>
<br>
<% if doctor.errors[:phone].any? %>
<p><%= doctor.errors.full_messages_for(:phone)[0] %>.</p>
<br>
<% end %>

<%= f.label :email %>
<br>
<%= f.email_field :email %>
<br>
<% if doctor.errors[:email].any? %>
<p><%= doctor.errors.full_messages_for(:email)[0] %>.</p>
<br>
<% end %>
