<table data-id="<%= d.id %>">
  <tr>
    <th>Name</th>
    <td id="doctor-name"><%= d.name %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td id="doctor-gender"><%= d.gender %></td>
  </tr>
  <tr>
    <th>Specialty</th>
    <td id="doctor-specialty"><%= d.specialty %></td>
  </tr>
  <tr>
    <th>Practice Name</th>
    <td id="doctor-practice_name"><%= d.practice_name %></td>
  </tr>
  <tr>
    <th>Practice Location</th>
    <td id="doctor-practice_location"><%= d.practice_location %></td>
  </tr>
  <% if current_page?(doctor_path(d)) %>
  <tr>
    <th>Phone Number</th>
    <td id="doctor-phone"><%= d.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td id="doctor-email"> <%= d.email %></td>
  </tr>
  <% end %>
</table>
