<h1>Edit Your Personal Details</h1>
<%= form_for @doctor do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>

<%= f.label :gender %>
<br>
<%= f.label :gender, 'M', :value => 'M' , :class => "small-label" %>
<%= f.radio_button :gender, 'M' %>
<%= f.label :gender, 'F', :value => 'F' , :class => "small-label" %>
<%= f.radio_button :gender, 'F' %>
<br>

<%= f.label :specialty %>
<br>
<%= f.text_field :specialty %>
<br>

<%= f.label :practice_name %>
<br>
<%= f.text_field :practice_name %>
<br>

<%= f.label :practice_location %>
<br>
<%= f.text_field :practice_location %>
<br>

<%= f.label :phone %>
<br>
<%= f.telephone_field :phone %>
<br>
<%= f.button "Update Doctor Details"%>
<% end %>
<div class = "margin-top-div">
<%= link_to "Cancel", doctor_path(@doctor), :class => "show-page-button" %>
</div>
