<h1>Doctor Signup</h1>
<h2>All fields are required. </h2>
<%= form_for @doctor do |f| %>

<%= render :partial => "form", :locals => { :doctor => @doctor, :f => f} %>

<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>
<% if @doctor.errors[:password].any? %>
<p><%= @doctor.errors.full_messages_for(:password)[0] %>.</p>
<br>
<% end %>

<%= f.button "Signup"%>
<% end %>
<div class="margin-top-div">
  <%= link_to "Back", root_path, data: { confirm: 'Are you sure you want to cancel account creation?'}, :class => "show-page-button"%>
</div>

<div class='space-bottom-div'>
</div>
