<<script type="text/javascript">
  $(function() {
    $('#doctor-appointments-section').append('BYE')
  });
</script>
<% if @doctor == current_doctor %>
<h1>Your Details</h1>
<% else %>
<h1>Doctor View</h1>
<% end %>

<%= render :partial => "view", :locals => { :d => @doctor} %>

<div class="margin-top-div">
  <% if @doctor == current_doctor %>
  <%= link_to "View Appointments", doctor_appointments_path(@doctor), :class => "show-page-button" %>
  <% end %>
</div>
<div class="margin-top-div">
  <% if @doctor == current_doctor %>
  <%= link_to "New Appointment", new_doctor_appointment_path(@doctor), :class => "show-page-button" %>
  <% end %>
</div>
<div class="margin-top-div">
  <%= link_to "View All Doctors", doctors_path, :class => "show-page-button"%>
</div>
<% if @doctor == current_doctor %>
<div class="margin-top-div">
  <%= link_to "Edit Doctor Details", edit_doctor_path, :class => "show-page-button" %>
</div>
<div class="margin-top-div">
  <%= button_to "Delete Your Account", doctor_path(@doctor), method: :delete, data: { confirm: 'Are you sure you want to delete your account?'}, :class => "show-page-button" %>
</div>
<% end %>

<% if @doctor == current_doctor && @appointments.any? %>
<h2>Today's Appointments</h2>
<hr>

<% @appointments.each do |a| %>

<%= render :partial => "appointments/view", :locals => { :a => a} %>

<% end %>
<% elsif @doctor == current_doctor %>
<h2>You Have No Appointments Today</h2>
<% end %>


<div id="doctor-appointments-section">
  <h1>HELLO</h1>
  </div>

<div class='space-bottom-div'>
</div>
