<h1>Doctor View</h1>
<h5> <%= @doctor.name %> </h5>
<br>
<h5> <%= @doctor.gender %> </h5>
<br>
<h5> <%= @doctor.specialty %> </h5>
<br>
<h5> <%= @doctor.practice_name %> - <%= @doctor.practice_location %> </h5>
<br>
<h5> <%= @doctor.phone %> </h5>
<br>
<h5> <%= @doctor.email %> </h5>
<br>
<%= link_to "Edit doctor", edit_doctor_path %>
