<%= f.label :date %>
<br>
<%= f.date_field :date, value: appointment.date %>
<br>
<% if appointment.errors[:date].any? %>
  <p><%= appointment.errors.full_messages_for(:date)[0] %>.</p>
  <br>
<% end %>

<%= f.label :time %>
<br>
<%= f.time_field :time, value: "%r", value: appointment.time %>
<br>
<% if appointment.errors[:time].any? %>
  <p><%= appointment.errors.full_messages_for(:time)[0] %>.</p>
  <br>
<% end %>

<%= f.label :description %>
<br>
<%= f.text_area :description %>
<br>
<% if appointment.errors[:description].any? %>
  <p><%= appointment.errors.full_messages_for(:description)[0] %>.</p>
  <br>
<% end %>

<%= f.label(:doctor_id, "Doctor") %>
<br>
<p><%= current_doctor.name %></p>
<%= f.hidden_field :doctor_id, :value => current_doctor.id %>
<br>

<%= f.label(:patient_id, "Patient") %>
<br>
<%= f.collection_select(:patient_id, Patient.all.order('name ASC'), :id, :name, include_blank: "Select a patient") %>
<br>
<% if appointment.errors[:patient_id].any? %>
  <p><%= appointment.errors.full_messages_for(:patient_id)[0] %>.</p>
  <br>
<% end %>
