<h1>Your Appointments</h1>
<% if @current_doctor %>
<%= link_to "Add a new appointment", new_appointment_path, :class => "show-page-button" %>
<% end %>

<hr>
<% @appointments.each do |a| %>
<table>

  <tr>
    <th>Date</th>
    <td><%= a.date %></td>
  </tr>

  <tr>
    <th>Time</th>
    <td><%= a.time %></td>
  </tr>

  <tr>
    <th>Doctor</th>
    <td><%= link_to a.doctor.name, doctor_path(a.doctor) %></td>
  </tr>

  <tr>
    <th>Patient</th>
    <td><%= link_to a.patient.name, patient_path(a.patient) %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= a.description %></td>
  </tr>

</table>

<div class="small-margin-top-div">
  <%=link_to "View Full Details", appointment_path(a), :class => "show-page-button" %>
</div>
<hr>
<% end %>
<div class='space-bottom-div'>
</div>
