<h1>New Appointment</h1>
<h2>All fields are required. </h2>
<%= form_for @appointment do |f| %>
<%= f.label :date %>
<br>
<%= f.date_field :date %>
<br>
<%= f.label :time %>
<br>
<%= f.time_field :time %>
<br>
<%= f.label :description %>
<br>
<%= f.text_area :description %>
<br>
<%= f.label(:doctor_id, "Doctor") %>
<br>
<p><%= current_doctor.name %></p>
<%= f.hidden_field :doctor_id, :value => current_doctor.id %>
<br>
<%= f.label(:patient_id, "Patient") %>
<br>
<%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
<br>
<%= f.button "Book Appointment"%>
<% end %>
<div class="margin-top-div">
<%= link_to "Back", appointments_path, data: { confirm: 'Are you sure you want to cancel appointment creation?'}, :class => "show-page-button"%>
</div>
