<h1>Appointments#new</h1>
<h2>All fields are required. </h2>
<%= form_for @appointment do |f| %>
<%= f.label :date %>
<br>
<%= f.date_field :date %>
<br>
<%= f.label :time %>
<br>
<%= f.time_field :time %>
<br>
<%= f.label :description %>
<br>
<%= f.text_area :description %>
<br>
<%= f.label(:doctor_id, "Doctor") %>
<br>
<%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
<br>
<%= f.label(:patient_id, "Patient") %>
<br>
<%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
<br>
<%= f.button "Book Appointment"%>
<% end %>
