<h1>Appointment</h1>
<table>
  <tr>
    <th>Date</th>
    <td><%= @appointment.date %></td>
  </tr>
  <tr>
    <th>Patient</th>
    <td><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></td>
  </tr>
  <tr>
    <th>Doctor</th>
    <td><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @appointment.description %></td>
  </tr>
</table>

<div class="margin-top-div">
<%= link_to "View Appointments", appointments_path, :class => "show-page-button" %>
</div>
<div class="margin-top-div">
<%= link_to "Edit appointment", edit_appointment_path, :class => "show-page-button" %>
</div>
<div class="margin-top-div">
<%= button_to "Delete appointment", appointment_path(@appointment), method: "delete", data: { confirm: 'Are your sure you want to delete your account?'}, :class => "show-page-button" %>
</div>
