<!DOCTYPE html>
<html lang="en">
<head>
  <title>Appointments</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/site.webmanifest">
  <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#0e2271">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/public/browserconfig.xml">
  <meta name="theme-color" content="#0e2271"> -->

</head>

<body>

  <div class="nav-background">
    <% if logged_in? %>
    <% if @current_patient %>
    <%= link_to "Appointments", patient_path(@current_patient), :class => "navbar-title" %>
    <% elsif  @current_doctor%>
    <%= link_to "Appointments", patient_path(@current_doctor), :class => "navbar-title" %>
    <% end %>
    <% else %>
    <%= link_to "Appointments", root_path, :class => "navbar-title" %>
    <% end %>

    <ul>
      <% if logged_in? %>
      <li><%= link_to "Logout", logout_path, :method => "delete", :class => "navbar-button"%></li>
      <% end %>

      <% unless logged_in? || current_page?(controller: 'sessions', action:'new') || current_page?(controller: 'static', action: 'home')%>
      <li><%= link_to "Login", login_path, :class => "navbar-button"%></li>
      <% end %>
    </ul>

    <% if flash[:alert] %>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:alert] %>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="notice">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
    <% end %>

  </div>
  <%= yield %>

</body>

<footer>
  <p>Website designed and built by <%= link_to "Eric Shiels", "https://www.resays.com/", target: "_blank"%></p>
  <p><a href="https://www.freepik.com/free-vector/abstract-geometric-hexagonal-medical_2870384.htm">Background designed by Starline</a></p>
</footer>
</html>
